{% extends 'app/base1.html'%}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
       
       
      </ul>

      <ul class="navbar-nav ">
         
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_view' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li> 
       
      </ul>
 
    </div>
  </div>
</nav>




<h3>Password reset complete</h3>
</p>Your password has been set. You may go ahead and log in now.</p>
<a href="/">Login</a>




{% endblock %}